

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%;
}

.jumbotron {
  height: 100%;
}

span {
  color: rgb(52, 152, 219);
}

#map {
  width: 100%;
  height: 360px;
}
