

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%;
}

.row-container {
  display: flex;
}

.header {
  padding-bottom: 20px;

  p {
    color: #444544;
    font-size: 16px;
    margin-bottom: 4px;
  }

  .header-title {
    font-size: 20px;
    font-weight: 300;
    color: #1D1F1D;
    margin-bottom: 4px;
  }
}

.sidebar {
  width: 80px;
  display: flex;

  .sidebar-timer {
    flex-grow: 1;
    align-self: center;

    span {
      display: block;
      text-align: center;
      color: #A5A7A5;
      font-size: 12px;

      &.glyphicon {
        margin-bottom: 4px;
      }
    }
  }
}

.header .sidebar {
  display: flex;
}

.header .sidebar .weather-icon {
  width: 49px;
  height: 49px;
  align-self: center;
  margin: 0 auto;
}

.weather-icon.sunny-day {
  background-image: url('../img/sunny.png');
  background-size: cover;
}
.weather-icon.sun-cloudy-day {
  background-image: url('../img/sun-cloudy.png');
  background-size: cover;
}
.weather-icon.cloudy-day {
  background-image: url('../img/cloudy.png');
  background-size: cover;
}
.weather-icon.cloudy-night {
  background-image: url('../img/cloudy-night.png');
  background-size: cover;
}
.weather-icon.rainy-day {
  background-image: url('../img/rainy.png');
  background-size: cover;
}
.weather-icon.clear-night {
  background-image: url('../img/clear-night.png');
  background-size: cover;
}
.weather-icon.thunderstorm {
  background-image: url('../img/thunderstorm.png');
  background-size: cover;
}
.weather-icon.windy-day {
  background-image: url('../img/windy.png');
  background-size: cover;
}

.content {
  flex-grow: 1;
}

.list-group-item {
  padding: 0;
  border: none;
  border-top: 1px solid #F5F4F5;
  border-bottom: 1px solid #F5F4F5;

  .class-info {
    flex-grow: 1;
    padding-top: 16px;
    padding-bottom: 16px;

    &.class-active .class-info-primary {
      color: #20A6FC;
    }

    p {
      margin: 0;
      color: #444544;
      font-weight: 200;

      &.class-info-primary {
        font-size: 14px;
        color: #1D1F1D;
        font-weight: 300;
      }
    }
  }

  .class-state {
    width: 60px;
    border-left: 1px solid #F5F4F5;
    display: flex;

    span {
      flex-grow: 1;
      color: #BFBFBF;
      font-size: 24px;
      font-weight: 200;
      text-align: center;
      align-self: center;
    }
  }
}

.list-photos {

  .content img {
    width: 48px;
    height: 48px;
    border-radius: 6px;
  }
}

#map {
  width: 100%;
  height: 360px;
}
